<div class="container d-flex " style="padding-bottom:50px; padding-top:20px">
    <div class="logo col-3">
        <div style="font-size:40px">CLothe<span class="text-danger">STore</span></div>
        <ul class="p-0 m-0 d-flex" style="list-style-type:none">
            <li style="margin:10px">
                <a style="color: black" href="#"><i class="bi bi-facebook"></i></a>
            </li>
            <li style="margin:10px">
                <a style="color: black" href="#"><i class="bi bi-twitter"></i></a>
            </li>
            <li style="margin:10px">
                <a style="color: black" href="#"><i class="bi bi-linkedin"></i></a>
            </li>
            <li style="margin:10px">
                <a style="color: black" href=""><i class="bi bi-facebook"></i></a>
            </li>
            <li style="margin:10px">
                <a style="color: black" href="#"><i class="bi bi-youtube"></i></a>
            </li>
        </ul>
    </div>
    <div class="col-2">
        <div>Category</div>
        <ul style="list-style-type: none; font-weight: 100; font-size: 13px; padding: 0; pointer-events: auto;">
            @Html.Action("_Category", "Home")
        </ul>
    </div>
    <div class="col-4">
        <div>Loại sản phẩm</div>
        <ul>
        </ul>

    </div>
    <div class="col-4">
        <div>Hình thức thanh toán</div>
        <div>
            <img src="https://canifa.com/assets/images/pay.svg" />
        </div>

    </div>
</div>
